/* HTML */
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height:  1.9;
    overflow-x: hidden;
    height: 100%;
}
/* End HTML */

/* Body */
body{
    margin: 0;
    font-family: 'Times New Roman', 'David', 'Bell MT';
    font-size: 25px; 
    line-height: 1.9; 
    background-color: lightskyblue;
    height: 100%;
}
/* End Body */

/* Header */
header{
    background-color: lightcoral;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
/* End Header */

/* Container*/
.container{
    padding: 25px 10px;
}
/* End Container*/

/* Headings */
h1{
    font-family: 'Times New Roman', 'David', 'Bell MT';
    text-align: center;
}
/* End Headings */

/* Paragraph */ 
p{
    margin-left: 30px;
}
/* End Paragraph */

/* Footer */
footer{
    position: absolute;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: lightcoral;
    text-align: center;
    bottom: -100%;
}

/* Button */
button{
    cursor: pointer;
    font-family: 'Bell MT', 'David', 'Times New Roman';
    font-size: 25px;
    background-color: lightcoral;
    border: 2px solid black;
    border-radius: 7px;
    width: 40%;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

/* Input */
input[type=text], select {
    font-family: 'Times New Roman', Times, serifs;
    font-size: 25px;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .calculator {
      float: left;
      left: 0;
      width: 30%;
      background-color: red;
  }

  .calculatorResults{
      visibility: hidden;
      margin: 5px;
      width: 30%;
      position: relative;
      float: right;
      background-color: red;
  }

  .calculatorResults p {
      margin: 5px;
  }

  .links {
      padding-top: 30em;
      text-align: center;
      bottom: 0;
  }